html, body {
    margin: 0;
    height: 100%;
}

body {
    font-family: var(--font);
    background: var(--background-color);
    padding: 0;
}

.main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    padding: 20px;
}

h1, h2 {
    text-align: center;
    color: var(--title-text-color);
}

label {
    margin-top: 10px;
}

/* BUTTONS */

.button {
    padding: 10px;
    cursor: pointer;
}

.action-button {
    background: var(--primary-color);
    border-radius: var(--primary-border-radius);
    color: var(--primary-color-text);
    border: var(--primary-border);
    padding-left: max(var(--primary-border-radius), 10px);
    padding-right: max(var(--primary-border-radius), 10px);
}

.action-button:hover {
    background: var(--primary-color-hover)
}

.return-button {
    background: var(--return-color);
    border-radius: var(--return-border-radius);
    color: var(--return-color-text);
    border: var(--return-border);
    padding-left: max(var(--return-border-radius), 10px);
    padding-right: max(var(--return-border-radius), 10px);
}

.return-button:hover {
    background: var(--return-color-hover);
}

.delete-button {
    background: var(--delete-color);
    border-radius: var(--delete-border-radius);
    color: var(--delete-color-text);
    border: var(--delete-border);
}

.delete-button:hover {
    background: var(--delete-color-hover);
}

.delete-button > img {
    height: 15px;
    width: 15px;
}

.center-button {
    margin-top: 50px;
    text-align: center;
}

/* CREDENTIALS */

#credentials-table {
    margin-top: 10px;
    margin-bottom: 50px;
    width: 100%;
    border-collapse: collapse;
    border-radius: var(--table-border-radius);
    overflow: hidden;
}

.credentials-buttons {
    text-align: right;
}

#credentials-table th {
    background: var(--table-header-color);
    color: var(--table-header-color-text)
}

#credentials-table td {
    padding: 10px;
}

.table-column-center {
    text-align: center;
}

.table-column-40 {
    width: 40px;
}

.table-column-120 {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 120px;
}

.credential-logo {
    height: 50px;
    max-width: 100px;
}

.credential-status {
    text-align: center;
}

.credential-status img {
    width: 30px;
    height: 30px;
}

.popup {
    visibility: hidden;
    background: var(--popup-color);
    color: var(--popup-color-text);
    width: 120px;
    text-align: center;
    padding: 5px;
    border-radius: var(--popup-border-radius);
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.popup-error {
    background: var(--popup-error-color);
    color: var(--popup-error-color-text);
}
  
/* Show the tooltip text when you mouse over the tooltip container */
.credential-status:hover .popup {
    visibility: visible;
}

.credential-collect {
    width: 100%;
    text-align: center;
}

.credential-collect .delete-button {
    margin-left: auto;
}

/* COMPANIES */

#companies-list {
    display: block;
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.company-item {
    display: inline-flex;
    background: var(--company-color);
    border: var(--company-border);
    cursor: pointer;
    align-items: center;
    padding: 10px var(--company-border-radius) 10px var(--company-border-radius);
    margin: 5px;
    border-radius: var(--company-border-radius);
    color: var(--company-color-text);
}

.company-item:hover {
    background: var(--company-color-hover);
    color: var(--company-color-text-hover);
    border: var(--company-border-hover);
}

.companies-logo {
    height: 20px;
    margin-right: 5px;
}

/* FORM */

form {
    display: flex;
    flex-direction: column;
    color: var(--company-color-text)
}

form > div {
    display: flex;
    flex-direction: column;
}

.form-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#form-logo {
    max-width: 100px;
    max-height: 100px;
    margin-right: 20px;
}

input, textarea, select {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: var(--input-border);
    border-radius: var(--input-border-radius);
}

/* PROGRESS */

#progress-text {
    margin-top: 50px;
    margin-bottom: 10px;
    opacity: 1;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#progress-text.fade {
    opacity: 0;
    transform: translateY(-20px);
}

#progress-bar-container {
    margin-bottom: 30px;
    background: var(--progressbar-color);
    border-radius: var(--progressbar-border-radius);
}

#progress-bar {
    max-width: 100%;
    min-width: 3.5%;
    width: 0%;
    height: 20px;
    background: var(--primary-color);
    border-radius: var(--progressbar-border-radius);
    overflow: hidden;
    transition: width 1s;
}

.progress-response {
    text-align: center;
}

.progress-response img {
    width: 10%;
}

/* CANVAS */

#canvas-container {
    text-align: center;
}

/* FEEDBACK */

#feedback-form > textarea {
    resize: vertical;
    min-height: 200px;
}

.feedback-response {
    font-size: small;
    text-align: center;
    margin: 0 auto;
}

.feedback-response-error {
    color: red;
}

.feedback-response-success {
    color: green;
}

/* FOOTER */

.footer {
    text-align: center;
    margin: auto auto 5px auto;
}

#send-feedback-button {
    color: var(--return-color-text);
    font-style: italic;
    font-size: small;
}
