body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.main-container {
    max-width: 1000px;
    min-width: fit-content;
    margin: 50px auto 0px auto;
}

.container {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form > div {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* BUTTONS */

.button {
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.action-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
}

.action-button:hover {
    background-color: #0056b3;
}

.return-button {
    background-color: #fff;
    border-color: #000;
    color: #000;
    border: 1px solid #ccc;
}

.return-button:hover {
    background-color: #eee;
}

.delete-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
}

.delete-button:hover {
    background-color: #c82333;
    color: #fff;
}

.delete-button > img {
    height: 15px;
    width: 15px;
}

/* CREDENTIALS */

#credentials-table {
    margin-top: 10px;
    margin-bottom: 50px;
    width: 100%;
    border-collapse: collapse;
}

.credentials-buttons {
    text-align: right;
}

#credentials-table th {
    background-color: #f4f4f4;
    padding: 10px;
}

#credentials-table td {
    padding: 10px;
}

.table-column-center {
    text-align: center;
}

.table-column-40 {
    width: 40px;
}

.table-column-120 {
    width: 120px;
}

.credential-logo {
    height: 50px;
    max-width: 100px;
}

.credential-status {
    text-align: center;
}

.credential-status img {
    width: 30px;
    height: 30px;
}

.popup {
    visibility: hidden;
    background-color: #f4f4f4;
    width: 120px;
    text-align: center;
    padding: 5px 0;
    border-radius: 4px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.popup-error {
    background-color: lightcoral;
}
  
/* Show the tooltip text when you mouse over the tooltip container */
.credential-status:hover .popup {
    visibility: visible;
}

.credential-collect {
    width: 100%;
    text-align: center;
}

.credential-collect .delete-button {
    margin-left: auto;
}

/* COMPANIES */

#companies-list {
    display: block;
    list-style-type: none;
    padding: 0;
}

.company-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.company-item-selectable {
    border: 0.5px solid #ccc;
    cursor: pointer;
}
.company-item-selectable:hover {
    background-color: #eee;
}

.company-item > img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.company-item > div > h3 {
    margin-top: 0px;
}

.company-item > div > p {
    margin: 0px;
}

/* PROGRESS */

#progress-text {
    margin-top: 50px;
    margin-bottom: 10px;
    opacity: 1;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#progress-text.fade {
    opacity: 0;
    transform: translateY(-20px);
}

#progress-bar-container {
    margin-bottom: 30px;
    background-color: #f4f4f4;
    border-radius: 10px;
}

#progress-bar {
    max-width: 100%;
    min-width: 3.5%;
    width: 0%;
    height: 20px;
    background-color: #007BFF;
    border-radius: 10px;
    overflow: hidden;
    transition: width 1s;
}

.progress-response {
    text-align: center;
}

.progress-response img {
    width: 10%;
}

/* FEEDBACK */

#feedback-form > textarea {
    resize: vertical;
    min-height: 200px;
}

.feedback-response {
    font-size: small;
    text-align: center;
    margin: 0 auto;
}

.feedback-response-error {
    color: red;
}

.feedback-response-success {
    color: green;
}

.no-collector-button {
    width: 100%;
    margin-top: 50px;
}

/* FOOTER */

.footer {
    text-align: center;
    margin: 10px auto 0px auto;
}

#send-feedback-button {
    color: #000;
    font-style: italic;
    font-size: small;
}
