:root {
    --background-color: #fff;
    --font: Montserrat, 'Open Sans', sans-serif;
    --title-text-color: rgb(51, 51, 51);

    --primary-color: linear-gradient(70deg, #2D95F8, #40BCF5) padding-box;
    --primary-color-hover: linear-gradient(70deg, #54a8f7, #57c3f5);
    --primary-color-text: #fff;
    --primary-border: none;
    --primary-border-radius: 20px;

    --return-color: #fff;
    --return-color-hover: #eee;
    --return-color-text: rgb(102, 102, 102);
    --return-border: 1px solid rgb(102, 102, 102);
    --return-border-radius: 20px;

    --delete-color: #cf1f25;
    --delete-color-hover: #a81e23;
    --delete-color-text: #fff;
    --delete-border: none;
    --delete-border-radius: 5px;

    --table-header-color: rgb(245, 249, 254);
    --table-header-color-text: rgb(51, 51, 51);
    --table-even-color: #fff;
    --table-even-color-text: rgb(102, 102, 102);
    --table-odd-color: #fff;
    --table-odd-color-text: rgb(102, 102, 102);
    --table-border-radius: 10px;

    --popup-color: #000;
    --popup-color-text: #fff;
    --popup-border: none;
    --popup-border-radius: 5px;

    --popup-error-color: #cf1f25;
    --popup-error-color-text: #fff;

    --company-color: #fff;
    --company-color-hover: #eee;
    --company-color-text: rgb(102, 102, 102);
    --company-border: 0.5px solid rgb(102, 102, 102);
    --company-border-radius: 10px;

    --input-border: 1px solid rgb(153, 153, 153);
    --input-border-radius: 10px;

    --progressbar-color: #f4f4f4;
    --progressbar-border-radius: 10px;
}
