openapi: 3.0.3
info:
  title: Invoice Collector API
  description: API for managing invoice collection, customers, users, credentials,
    and collectors.
  version: 1.0.0
servers:
  - url: https://api.invoice-collector.com/api/v1
    description: Production API
  - url: https://localhost:8080/api/v1
    description: Local API
components:
  securitySchemes:
    CustomerBearerAuth:
      type: http
      scheme: bearer
      description: Bearer token to authenticate the customer.
    UserBearerAuth:
      type: http
      scheme: bearer
      description: Bearer token to authenticate the user.
    TokenAuth:
      type: apiKey
      in: query
      name: token
      description: UI token obtained from POST /user
  schemas:
    Locale:
      type: string
      description: Language of the user.
      enum:
        - en
        - fr
      default: en
      example: fr
    BearerResponse:
      type: object
      properties:
        bearer:
          type: string
          description: Bearer token to be used in the Authorization header.
          example: qHcFyrYj.....yQ77/q0=
      required:
        - bearer
    remote_id:
      type: string
      description: Remote id of the user.
      example: R121439
    token:
      type: string
      description: Token to be used by the client. You can get it using the POST /user
        endpoint.
      example: <token>
    reset_token:
      type: string
      description: Token to be used for password reset. You can get it using the POST
        /signup endpoint.
      example: <reset_token>
    credential_id:
      type: string
      description: Id of the credential.
      example: 6776b5258821de266afbc3f6
    user_id:
      type: string
      description: Id of the user or _me_ for the current user.
      example: 687f40dab93991306da5ccf3
    credentials:
      type: array
      description: List of credentials.
      items:
        $ref: "#/components/schemas/Credential"
    wsPath:
      type: string
      description: WebSocket path to connect to for real-time updates. null if no
        collect is in progress.
      nullable: true
      example: /api/v1/ws/30f6a13e919ceab0094e6df042166210fc00177dd392d2d2ae8b751946cbfecdb7f6e3fec3ec2d93db2a27a364dd6997adc88e439a3b96d34fe7d0257b27a616
    Error:
      type: object
      properties:
        type:
          type: string
          description: Type of the error.
          default: error
          enum:
            - error
          example: error
        message:
          type: string
          description: Error message.
      required:
        - type
        - message
    Plan:
      type: object
      properties:
        id:
          type: string
          description: Id of the plan.
          example: basic
        name:
          type: string
          description: Name of the plan.
          example: Basic
        maxUsers:
          type: number
          description: Maximum number of users allowed. If -1, no limit.
          example: 10
        maxCredentials:
          type: number
          description: Maximum number of credentials allowed. If -1, no limit.
          example: 50
        maxInvoicesPerMonth:
          type: number
          description: Maximum number of invoices per month. If -1, no limit.
          example: -1
        maxCollectors:
          type: number
          description: Maximum number of collectors allowed. If -1, no limit.
          example: -1
        priceBase:
          type: number
          description: Base price of the plan in €.
          example: 10
        pricePerUser:
          type: number
          description: Price per additional user in €.
          example: 2.99
        pricePerCredential:
          type: number
          description: Price per additional credential in €.
          example: 0
        pricePerInvoice:
          type: number
          description: Price per additional invoice in €.
          example: 1
        pricePerCollector:
          type: number
          description: Price per additional collector in €.
          example: 0
        features:
          type: array
          description: List of features included in the plan.
          items:
            type: string
          example:
            - 10 users
            - 50 collectors
            - Unlimited invoices per month
      required:
        - id
        - name
        - maxUsers
        - maxCredentials
        - maxInvoicesPerMonth
        - maxCollectors
        - priceBase
        - pricePerUser
        - pricePerCredential
        - pricePerInvoice
        - pricePerCollector
        - features
    UserStats:
      type: object
      properties:
        credentialsCount:
          type: integer
    CustomerStats:
      type: object
      properties:
        usersCount:
          type: integer
        credentialsCount:
          type: integer
    State:
      type: object
      properties:
        index:
          type: number
          description: Index of the state. A negative index means that the state is in
            error. An index equal to max means that the process is finished.
          example: 2
        max:
          type: number
          description: Maximum index of the state. This is used to know the progress.
          example: 6
        title:
          type: string
          description: Title of the state.
          example: 2FA
        message:
          type: string
          description: Message to be displayed to the user.
          example: Please enter the code received by SMS.
      required:
        - index
        - max
        - title
        - message
    CollectorParam:
      type: object
      properties:
        type:
          type: string
          description: Type of the parameter.
          enum:
            - string
            - number
            - boolean
            - enum
          example: string
        name:
          type: string
          description: Name of the parameter.
          example: Email
        placeholder:
          type: string
          description: Placeholder of the parameter.
          example: Email of the account
        mandatory:
          type: boolean
          description: Whether the parameter is mandatory or not.
          example: true
      required:
        - type
        - name
        - placeholder
        - mandatory
    CollectorConfig:
      type: object
      properties:
        id:
          type: string
          description: Id of the collector.
          example: free
        name:
          type: string
          description: Name of the collector.
          example: Free
        description:
          type: string
          description: Description of the collector.
          example: Free is a French telecommunications company
        instructions:
          type: string
          description: Instructions to setup the collector.
          example: Go to ... and do ...
        version:
          type: string
          description: Version of the collector.
          example: "1"
        type:
          type: string
          description: Type of collector.
          enum:
            - sketch
            - agent
            - web
            - api
          example: web
        website:
          type: string
          description: Link to the website of the collector.
          format: uri
          example: https://www.free.fr
        logo:
          type: string
          description: Link to the logo of the collector.
          format: uri
          example: https://fr.wikipedia.org/wiki/Free_(entreprise)#/media/Fichier:Free_logo.svg
        params:
          type: object
          description: List of parameters that the collector requires.
          additionalProperties:
            $ref: "#/components/schemas/CollectorParam"
        captcha:
          type: string
          description: Captcha used by the collector.
          enum:
            - none
            - cloudflare
            - datadome
            - recaptcha
            - other
          example: cloudflare
        enableInteractiveLogin:
          type: boolean
          description: Whether the interactive login is enabled for this collector.
          example: true
        state:
          type: string
          description: State of the collector.
          enum:
            - planned
            - development
            - active
          example: active
        loginUrl:
          type: string
          description: URL to the login page of the collector. For collectors of type
            sketch, web and agent only.
          example: https://www.mycollector.com/login
        entryUrl:
          type: string
          description: URL to the invoices page of the collector. For collectors of type
            web and agent only.
          example: https://www.mycollector.com/customer/invoices
        baseUrl:
          type: string
          description: Base URL of the collector. For collectors of type api only.
          example: https://api.mycollector.com
      required:
        - id
        - name
        - description
        - version
        - type
        - website
        - logo
        - params
        - captcha
        - enableInteractiveLogin
        - state
    Customer:
      type: object
      properties:
        id:
          type: string
          description: Id of the customer.
          example: 6795130f170ba4496dc30642
        email:
          type: string
          description: Email of the customer.
          example: customer@company.com
        name:
          type: string
          description: Name of the customer.
          example: Awesome Company Name
        callback:
          type: string
          description: Callback url at which the new invoices are sent.
          example: https://your.infrastructure.com/path/to/callback
        remoteId:
          type: string
          description: Remote id of your company in your system.
          example: R121439
        theme:
          type: string
          description: Theme of the customer.
          example: dark
        subscribedCollectors:
          type: array
          description: List of collector ids the customer is subscribed to.
          items:
            type: string
          example:
            - amazon
            - shopify
            - free
        isSubscribedToAll:
          type: boolean
          description: Whether the customer is subscribed to all collectors. If true, the
            subscribedCollectors field is ignored.
          example: false
        enableInteractiveLogin:
          type: boolean
          description: Whether the customer has enabled interactive login for collectors
            that support it.
          example: true
        displaySketchCollectors:
          type: boolean
          description: Whether to display sketch collectors.
          example: false
        maxDelayBetweenCollect:
          type: number
          description: Maximum delay between two collects in ms.
          example: 2592000000
        plan:
          $ref: "#/components/schemas/Plan"
      required:
        - id
        - email
        - name
        - callback
        - theme
        - subscribedCollectors
        - isSubscribedToAll
        - displaySketchCollectors
        - maxDelayBetweenCollect
        - plan
    User:
      type: object
      properties:
        id:
          type: string
          description: Id of the user.
          example: 6776b5258821de266afbc3f6
        customer_id:
          type: string
          description: Id of the customer.
          example: 6795130f170ba4496dc30642
        remote_id:
          $ref: "#/components/schemas/remote_id"
        locale:
          $ref: "#/components/schemas/Locale"
      required:
        - id
        - customer_id
        - remote_id
        - locale
    UserWithToken:
      allOf:
        - $ref: "#/components/schemas/User"
        - type: object
          properties:
            token:
              type: string
              description: Token to be used by the client.
              example: 69b67c9f...be77ffeb
      required:
        - token
    UserListItem:
      allOf:
        - $ref: "#/components/schemas/User"
        - type: object
          properties:
            stats:
              $ref: "#/components/schemas/UserStats"
    Credential:
      type: object
      properties:
        id:
          type: string
          description: Id of the credential.
          example: 6776b5258821de266afbc3f6
        user_id:
          type: string
          description: Id of the user.
          example: 687108e5dce5050bc8ca53c1
        note:
          type: string
          description: Custom note for this credential.
          example: Regular account
        create_timestamp:
          type: number
          description: Creation timestamp.
          example: 1745229262287
        download_from_timestamp:
          type: number
          description: Download from timestamp.
          example: 1745229203582
        last_collect_timestamp:
          type: number
          description: Last collect timestamp.
          example: 1745229265118
        next_collect_timestamp:
          type: number
          description: Next collect timestamp.
          example: 1746000402000
        invoices:
          type: array
          description: List of invoices collected by this credential.
          items:
            type: object
            properties:
              id:
                type: string
                description: Id of the invoice.
                example: 45FDD1544
              timestamp:
                type: integer
                description: Timestamp when the invoice was created in ms.
                example: 17316031963975
              collected_timestamp:
                type: integer
                description: Timestamp when the invoice was collected in ms. null if the invoice
                  was not collected.
                example: 17316032013467
            required:
              - id
              - timestamp
              - collected_timestamp
        state:
          $ref: "#/components/schemas/State"
        collector:
          $ref: "#/components/schemas/CollectorConfig"
        wsPath:
          $ref: "#/components/schemas/wsPath"
      required:
        - id
        - user_id
        - note
        - create_timestamp
        - last_collect_timestamp
        - next_collect_timestamp
        - state
        - invoices
        - collector
        - wsPath
    Invoice:
      type: object
      properties:
        id:
          type: string
          description: Id of the invoice.
          example: 45FDD1544
        timestamp:
          type: integer
          description: Timestamp when the invoice was created in ms.
          example: 17316031963975
        collected_timestamp:
          type: integer
          description: Timestamp when the invoice was collected in ms.
          example: 17316032013467
        amount:
          type: string
          description: Amount of the invoice.
          example: 45.78€
        link:
          type: string
          description: Link from which the invoice was downloaded.
          example: https://mycollector/direct/link/to/my/invoice
        data:
          type: string
          description: Base64 encoded invoice.
          example: iVBORw0KGgoAAAAN...RU5ErkJggg==
        mimetype:
          type: string
          description: MIME type of the invoice.
          example: application/pdf
      required:
        - id
        - type
        - mimetype
        - timestamp
        - collected_timestamp
        - link
        - data
tags:
  - name: General
    description: General endpoints (UI, callbacks, feedback)
  - name: Authentication
    description: Login, signup, password reset
  - name: Customer
    description: Customer management
  - name: User
    description: User management
  - name: Credential (Bearer)
    description: Credential and collection management
  - name: Credential (Token)
    description: Credential and collection management
  - name: Collector
    description: Collector listing
paths:
  /ui:
    get:
      tags:
        - General
      summary: Get UI page
      description: Returns the rendered UI page for the user. Token authentication.
      security:
        - TokenAuth: []
      responses:
        "200":
          description: Rendered HTML page
          content:
            text/html:
              schema:
                type: string
        "401":
          description: Invalid or expired token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /test/callback/{type}:
    get:
      tags:
        - General
      summary: Test callback
      description: Sends a test callback of the specified type. Bearer authentication.
      security:
        - CustomerBearerAuth: []
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum:
              - invoice
              - notification_disconnected
          description: Callback type to test
      responses:
        "200":
          description: Callback sent successfully
        "400":
          description: Unsupported type
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      callbacks:
        onInvoiceCollected:
          Invoice:
            post:
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        type:
                          type: string
                          description: Type of the payload.
                          enum:
                            - invoice
                          example: invoice
                        remote_id:
                          type: string
                          description: Remote id of the user.
                          example: R121439
                        invoice:
                          $ref: "#/components/schemas/Invoice"
                        collector:
                          $ref: "#/components/schemas/CollectorConfig"
                      required:
                        - type
                        - remote_id
                        - invoice
                        - collector
              responses:
                "200":
                  description: Success
                "400":
                  description: Error
        onCollectorDisconnected:
          Notification Disconnected:
            post:
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        type:
                          type: string
                          description: Type of the payload.
                          example: notification_disconnected
                        credential_id:
                          $ref: "#/components/schemas/credential_id"
                        user_id:
                          $ref: "#/components/schemas/user_id"
                        remote_id:
                          type: string
                          description: Remote id of the user.
                          example: R121439
                        collector:
                          $ref: "#/components/schemas/CollectorConfig"
                      required:
                        - type
                        - credential_id
                        - user_id
                        - remote_id
                        - collector
              responses:
                "200":
                  description: Success
                "400":
                  description: Error
  /feedback:
    post:
      tags:
        - General
      summary: Send feedback
      description: Sends feedback to the registry server. Bearer or Token authentication.
      security:
        - CustomerBearerAuth: []
        - UserBearerAuth: []
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - type
                - message
              properties:
                type:
                  type: string
                message:
                  type: string
      responses:
        "200":
          description: Feedback sent successfully
        "400":
          description: Missing field
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /login:
    post:
      tags:
        - Authentication
      summary: Login
      description: Authenticates a customer or user and returns a bearer token. No
        authentication required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  bearer:
                    type: string
                  type:
                    type: string
                    enum:
                      - customer
                      - user
        "400":
          description: Missing field
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /signup:
    post:
      tags:
        - Authentication
      summary: Sign up
      description: Creates a new customer or user account. No authentication required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - name
                - cid
              properties:
                email:
                  type: string
                  format: email
                name:
                  type: string
                cid:
                  type: string
                locale:
                  type: string
                inviteId:
                  type: string
                  description: If provided, creates a user under the customer matching this invite
                    ID
      responses:
        "200":
          description: Signup successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  resetLink:
                    type: string
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /forgot:
    post:
      tags:
        - Authentication
      summary: Forgot password
      description: Sends a password reset email. No authentication required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
      responses:
        "200":
          description: Reset link sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  resetLink:
                    type: string
        "400":
          description: Account not found or missing field
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /reset:
    post:
      tags:
        - Authentication
      summary: Reset password
      description: Resets the password using a reset token. No authentication required.
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
          description: Password reset token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - password
              properties:
                password:
                  type: string
      responses:
        "200":
          description: Password reset successfully
        "400":
          description: Missing field
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Invalid or expired token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /customer:
    get:
      tags:
        - Customer
      summary: Get customer
      description: Returns the authenticated customer's details. Bearer authentication.
      security:
        - CustomerBearerAuth: []
      responses:
        "200":
          description: Customer details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    put:
      tags:
        - Customer
      summary: Update customer
      description: Updates the authenticated customer's details. Bearer authentication.
      security:
        - CustomerBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                callback:
                  type: string
                remoteId:
                  type: string
                cid:
                  type: string
                theme:
                  type: string
                subscribedCollectors:
                  type: array
                  items:
                    type: string
                isSubscribedToAll:
                  type: boolean
                enableInteractiveLogin:
                  type: boolean
                displaySketchCollectors:
                  type: boolean
      responses:
        "200":
          description: Updated customer details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /customer/bearer:
    post:
      tags:
        - Customer
      summary: Generate new API bearer
      description: Generates a new API bearer token for the customer. Bearer authentication.
      security:
        - CustomerBearerAuth: []
      responses:
        "200":
          description: New bearer token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BearerResponse"
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /customer/stats:
    get:
      tags:
        - Customer
      summary: Get customer stats
      description: Returns statistics for the authenticated customer. Bearer authentication.
      security:
        - CustomerBearerAuth: []
      responses:
        "200":
          description: Customer statistics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerStats"
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /users:
    get:
      tags:
        - User
      summary: List users
      description: Returns all users belonging to the authenticated customer. Bearer
        authentication.
      security:
        - CustomerBearerAuth: []
      responses:
        "200":
          description: List of users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserListItem"
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /user:
    post:
      tags:
        - User
      summary: Create or get user
      description: Creates a new user or returns an existing one by remote_id. Returns
        a UI token. Bearer authentication.
      security:
        - CustomerBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - remoteId
                - locale
              properties:
                remoteId:
                  type: string
                  description: Also accepted as remote_id
                locale:
                  type: string
                ip:
                  type: string
                  description: User IP for geolocation
      responses:
        "200":
          description: User details with token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserWithToken"
        "400":
          description: Missing or invalid field
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: User limit reached
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      tags:
        - User
      summary: Get current user
      description: Returns the user associated with the bearer token. Bearer
        authentication (user session).
      security:
        - UserBearerAuth: []
      responses:
        "200":
          description: User details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /user/{user_id}:
    get:
      tags:
        - User
      summary: Get user by ID
      description: Returns a specific user by ID. Bearer authentication.
      security:
        - CustomerBearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/user_id"
      responses:
        "200":
          description: User details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      tags:
        - User
      summary: Delete user
      description: Deletes a user and all associated credentials. Bearer authentication.
      security:
        - CustomerBearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/user_id"
      responses:
        "200":
          description: User deleted successfully
        "400":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /user/{userId}:
    put:
      tags:
        - User
      summary: Update user
      description: Updates a user's details. Bearer authentication.
      security:
        - CustomerBearerAuth: []
        - UserBearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                remoteId:
                  type: string
                name:
                  type: string
                cid:
                  type: string
                locale:
                  type: string
      responses:
        "200":
          description: Updated user details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /user/{user_id}/credentials:
    get:
      tags:
        - Credential (Bearer)
      summary: List credentials (Bearer)
      description: Returns all credentials for a user. Bearer authentication.
      security:
        - CustomerBearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/user_id"
      responses:
        "200":
          description: List of credentials
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Credential"
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /credentials:
    get:
      tags:
        - Credential (Token)
      summary: List credentials (Token)
      description: Returns all credentials for the authenticated user. Token authentication.
      security:
        - UserBearerAuth: []
        - TokenAuth: []
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: List of credentials
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Credential"
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /user/{user_id}/credential:
    post:
      tags:
        - Credential (Bearer)
      summary: Create credential (Bearer)
      description: Creates a new credential and starts collection. Bearer authentication.
      security:
        - CustomerBearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/user_id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - collector
                - params
              properties:
                collector:
                  type: string
                  description: Collector ID
                params:
                  type: object
                  description: Collector-specific parameters
                download_from_timestamp:
                  type: integer
                  description: Unix timestamp in ms to download invoices from
      responses:
        "200":
          description: Created credential
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Credential"
        "400":
          description: Missing or invalid field
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Credential limit reached or collector not subscribed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /credential:
    post:
      tags:
        - Credential (Token)
      summary: Create credential (Token)
      description: Creates a new credential and starts collection. Token authentication.
      security:
        - UserBearerAuth: []
        - TokenAuth: []
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - collector
                - params
              properties:
                collector:
                  type: string
                  description: Collector ID
                params:
                  type: object
                  description: Collector-specific parameters
                download_from_timestamp:
                  type: integer
                  description: Unix timestamp in ms to download invoices from
      responses:
        "200":
          description: Created credential
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Credential"
        "400":
          description: Missing or invalid field
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Credential limit reached or collector not subscribed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /user/{user_id}/credential/{credential_id}:
    get:
      tags:
        - Credential (Bearer)
      summary: Get credential (Bearer)
      description: Returns a specific credential by ID. Bearer authentication.
      security:
        - CustomerBearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/user_id"
        - name: credential_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Credential details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Credential"
        "400":
          description: Credential not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Credential does not belong to user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      tags:
        - Credential (Bearer)
      summary: Delete credential (Bearer)
      description: Deletes a credential. Bearer authentication.
      security:
        - CustomerBearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/user_id"
        - name: credential_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Credential deleted successfully
        "400":
          description: Credential not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Credential does not belong to user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /credential/{credential_id}:
    get:
      tags:
        - Credential (Token)
      summary: Get credential (Token)
      description: Returns a specific credential by ID. Token authentication.
      security:
        - UserBearerAuth: []
        - TokenAuth: []
      parameters:
        - name: credential_id
          in: path
          required: true
          schema:
            type: string
        - name: token
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Credential details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Credential"
        "400":
          description: Credential not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Credential does not belong to user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      tags:
        - Credential (Token)
      summary: Delete credential (Token)
      description: Deletes a credential. Token authentication.
      security:
        - UserBearerAuth: []
        - TokenAuth: []
      parameters:
        - name: credential_id
          in: path
          required: true
          schema:
            type: string
        - name: token
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Credential deleted successfully
        "400":
          description: Credential not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Credential does not belong to user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /user/{user_id}/credential/{credential_id}/2fa:
    post:
      tags:
        - Credential (Bearer)
      summary: Submit 2FA code (Bearer)
      description: Submits a 2FA code for an ongoing collection. Deprecated - use
        websockets instead. Bearer authentication.
      deprecated: true
      security:
        - CustomerBearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/user_id"
        - name: credential_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
              properties:
                code:
                  type: string
      responses:
        "200":
          description: 2FA code submitted
        "400":
          description: Missing field or no collect in progress
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Credential does not belong to user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /credential/{credential_id}/2fa:
    post:
      tags:
        - Credential (Token)
      summary: Submit 2FA code (Token)
      description: Submits a 2FA code for an ongoing collection. Deprecated - use
        websockets instead. Token authentication.
      deprecated: true
      security:
        - UserBearerAuth: []
        - TokenAuth: []
      parameters:
        - name: credential_id
          in: path
          required: true
          schema:
            type: string
        - name: token
          in: query
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
              properties:
                code:
                  type: string
      responses:
        "200":
          description: 2FA code submitted
        "400":
          description: Missing field or no collect in progress
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Credential does not belong to user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /user/{user_id}/credential/{credential_id}/collect:
    post:
      tags:
        - Credential (Bearer)
      summary: Trigger collection (Bearer)
      description: Triggers a new collection for a credential or returns the existing
        one. Bearer authentication.
      security:
        - CustomerBearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/user_id"
        - name: credential_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Collection started or already in progress
          content:
            application/json:
              schema:
                type: object
                properties:
                  wsPath:
                    type: string
                    nullable: true
                    description: WebSocket path to monitor collection progress
        "400":
          description: Credential not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Credential does not belong to user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /credential/{credential_id}/collect:
    post:
      tags:
        - Credential (Token)
      summary: Trigger collection (Token)
      description: Triggers a new collection for a credential or returns the existing
        one. Token authentication.
      security:
        - UserBearerAuth: []
        - TokenAuth: []
      parameters:
        - name: credential_id
          in: path
          required: true
          schema:
            type: string
        - name: token
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Collection started or already in progress
          content:
            application/json:
              schema:
                type: object
                properties:
                  wsPath:
                    type: string
                    nullable: true
                    description: WebSocket path to monitor collection progress
        "400":
          description: Credential not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Credential does not belong to user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /collectors:
    get:
      tags:
        - Collector
      summary: List collectors
      description: Returns all available collectors. Bearer or Token authentication.
      security:
        - CustomerBearerAuth: []
        - UserBearerAuth: []
        - TokenAuth: []
      parameters:
        - name: locale
          in: query
          required: false
          schema:
            type: string
          description: Locale for translated collector names and descriptions
      responses:
        "200":
          description: List of collector configurations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CollectorConfig"
        "400":
          description: Unsupported locale
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
